<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>请求地址没找到</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/css/bootstrap.min.css?201811201906" rel="stylesheet">
    <link href="~/css/font-awesome.css?201811201906" rel="stylesheet">
    <link href="~/css/animate.css?201811201906" rel="stylesheet">
    <link href="~/css/style.css?201811201906" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>
        <div class="error-desc">
            抱歉，页面好像去火星了~
            <br />您可以返回主页看看
            <br /><a href="@Url.Action("Index","Home")" class="btn btn-primary m-t">主页</a>
        </div>
    </div>

</body>

</html>
