<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>没有权限</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: 'Helvetica Neue', 'Microsoft YaHei', Helvetica, Arial, sans-serif !important;
        }

        body {
            background-repeat: repeat;
        }

        h1 {
            font-size: 50px;
        }

        h1, p {
            margin: 0 0 12px 0;
        }

        small {
            font-size: 16px;
            color: #888;
        }

        .container {
            width: 400px;
            height: 500px;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
        }

            .container img {
                width: 128px;
                margin: 0 auto;
            }

        .text-center {
            text-align: center;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            border-radius: 0;
            background-color: #F5A623;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="~/img/403.png">
        <h1>403</h1>
        <p>
            <small>啊哦，这个页面您暂时无权访问,请申请权限</small>
        </p>
    </div>

</body>
</html>